<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG">
<test name="Different Test Cases">
 <classes>
  <class name="testng.FacebookLoginTest"/>
  <class name="testng.GoogleTest"/>
  <class name="testng.GoogleTitleTest"/>
  <class name="testng.TestNgBasicc"/>
  <class name="testng.TestNgFeature"/>
 </classes>
</test>
</suite>